body {
    padding-top: 3%;
    background: linear-gradient(45deg,#FF4E50,#F9D423 );
    background-size: cover;

}

.index {
    height: 100vh;
}

.doctor {
    height: 100%;
}

#logo{
    width: 40%
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 15px

}

.card-container {
    border-radius: 2rem !important;    
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#doctor,#patient {
    width:60% ; border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    opacity: 0.8;
}
#doctor:hover,#patient:hover{
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

#docMsg{
    height: 100px;
}